---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
import { Content as IndexContent } from '../content/pages/index.mdx'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <IndexContent />
    <hr class="hr-line" />
    <h2>Get in touch</h2>
    <p>
      I’m always open to new conversations and ideas. Feel free to connect with
      me via social media or email.
    </p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a
            aria-label={link.text}
            href={link.href}
            rel={link.rel}
            target="_blank"
            class="prose-link"
          >
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
  </article>
</BaseLayout>
